<div class="row">
    <div class="d-md-flex align-items-center col-12">
        <div>
            <h4 class="card-title">Groups Menu 1</h4>
        </div>
    </div>
    <!-- column -->
    <div class="col-lg-3">
        <div class="card" style="box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);">
            <div class="card-body text-center">
                <p><img class="img-fluid" src="https://image.flaticon.com/icons/png/512/99/99955.png" alt="card image" style="width: 100px; height: 100px; border-radius: 50%;"></p>
                <h4 class="card-title">Bebidas</h4>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#add-new-group" class="btn btn-primary">Editar <i class="mdi mdi-lead-pencil"></i></a>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-lg-3">
        <div class="card" style="box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);">
            <div class="card-body text-center">
                <p><img class="img-fluid" src="https://previews.123rf.com/images/juliasart/juliasart1609/juliasart160900034/62248736-verduras-frescas-ensaladas-icono-del-vector-ilustraci%C3%B3n-del-vector-iconos-org%C3%A1nicos-tipo-plano-fijaron.jpg" alt="card image" style="width: 100px; height: 100px; border-radius: 50%;"></p>
                <h4 class="card-title">Ensaladas</h4>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#add-new-group" class="btn btn-primary">Editar <i class="mdi mdi-lead-pencil"></i></a>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-lg-3">
        <div class="card" style="box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);">
            <div class="card-body text-center">
                <p><img class="img-fluid" src="https://img.freepik.com/vector-gratis/dibujos-animados-delicioso-desayuno-sabroso_24640-53956.jpg?size=626&ext=jpg" alt="card image" style="width: 100px; height: 100px; border-radius: 50%;"></p>
                <h4 class="card-title">Desayunos</h4>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#add-new-group" class="btn btn-primary">Editar <i class="mdi mdi-lead-pencil"></i></a>
            </div>
        </div>
    </div>
    <!-- column add other group -->
    <div class="col-lg-3">
        <div class="card" style="box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);">
            <div class="card-body text-center">
                <h4 class="card-title">Add Group</h4>
                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#add-new-group" class="btn btn-primary">
                    Add Menú <i class="mdi mdi-plus-box"></i>
                </a>
            </div>
        </div>
    </div>

</div>